* {
    font-size: 24px;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #beeaf0;
    width: 1500;
    height: 1000;
  }
  
  .container {
    max-width: 100px;
    margin: 20px;
    padding: 50px;
  }
  
  header {
    display: block;
    align-items: normal;
    background-color: #b6e7ff;
    flex-direction: column;
    padding: 0px;
  }
  
  header h1 {
    font-size: 1.5rem;
    color:rgb(11, 129, 232);
    background-color: black;
  }
  
  h2 {
    font-size: 1.2rem;
    color:gray;
    font-style: italic;
    position: right;

  }
  header > img {
    width:1500;
    height:800;

  }
  
  p {
    font-size: 0.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-color: black;

  }
  
  nav {
    display: flex;
    gap: 50px;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a[href="#about"] {
    color: rgb(98, 98, 99);
  }
  
  nav a[href="#relation"] {
    color: rgb(97, 97, 97);
  }
  
  nav a[href="#contact"] {
    color: rgb(98, 98, 98);
  }
  
  #about {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
  }
  
  #relation {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
  }
  
  #contact {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    display: block;
  }
  
  a {
    text-decoration: none;
    color: #1447ff;
    font-size: 0.5rem;
  }
  b{
    color: #fff;
    background-color: black;
    font-size: 0.5rem;
    position: relative;
  }
  
  img {
    border-radius: 50%;
    height: 300px;
    width: 240px;
    display: block;
    margin: 25px auto;
  }
  

  
  form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
  }
  
  form label {
    font-size: 0.75rem;
  }
  
  form input,
  form textarea {
    font-size: 0.75rem;
  }
  
  @media only screen and (max-width: 440px) {
    * {
      font-size: 20px;
    }
  
    body {
      font-family: Arial;
      background-color: #fcc7c7;
    }
  
    #contact-section {
      display: none;
    }
  
    img {
      border-radius: 20px;
      width: 50vw;
    }
  }